@font-face {
    font-family: 'Valorant';
    src: url('Valorant.ttf') format('truetype');
}

.btn-logout {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: red;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
}

.simulador {
    color: white;
}


.container_mapas {
    margin: 40px;

}

.esquerda img {
    width: 1080px;
    height: 1000px;

}

.txt_divsmapas {
    text-align: center;
}

.esquerda {
    height: 700px;
    width: 90%;
    margin-left: 30px;
    margin-right: 30px;
    border: 4px solid firebrick;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    flex-direction: column;
    margin-top: 30px;
}



.esquerda div {
    font-weight: bolder;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.esquerda div h1 {
    font-family: 'Valorant';
}

.esquerda div p {
    margin: 0%;
}


.camp_titulo {
    text-align: center;
    margin-bottom: 30px;
}

.background-camp {
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    text-align: center;
    font-family: 'Valorant';
    font-size: 50px;
    padding-top: 40px;

}

.dentrofooter span {
    font-size: 10px;
    font-family: 'Valorant';
    font-size: large;
}

.container_botao button {
    margin-top: 30px;
    padding: 15px;
    width: 150px;
    color: white;
    font-weight: bolder;
    background-color: red(255, 115, 0);
    border-radius: 10px;
    transition: 0.2s;
    font-family: 'Valorant';
    background-color: red;
}

.container_botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_botao button:hover {
    background-color: white;
    box-shadow: 3px 3px 3px black;
    color: red;
}


.imgmapinhas img {

    width: 750px;
    height: 650px;
}