.bannersdash1 {
    width: auto;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.767);
}

.bannersdash {
    margin-top: 100px;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.767);
}


.containerbannerdash {
    padding-top: 10px;

    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    width: 700px;
    height: 100%
}




.bannersdash .containerbannerdash {
    color: white;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
}

.banners .containerbannerdash h1 {
    margin-top: 0%;
}



.footer {
    margin-top: 140px;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: black;
}

.dentrofooter {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Valorant';
    font-size: large;
}


.partidinha {

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 3px solid red;
    width: auto;
}

.resultado {
    font-family: "Valorant";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border: 2px solid red;
    width: auto;
    height: 800px;
    text-align: center;
}

.partidinha button {

    width: 180px;
    height: 50px;
    background-color: red;
    border-radius: 30px;
    color: white;
    font-family: "Valorant";
    align-self: center;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px black;
    transition: 0.2s;
}

.partidinha button:hover {
    background-color: white;
    box-shadow: 3px 3px 3px black;
    color: red;
}



.partidinha input {
    padding: 10px 15px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-left: 2px solid red;
    border-top: 2px solid red;
    color: white;

}

#mostrar  {

justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
}


#mostrar b{
    text-shadow: 3px 3px 3px red;
    color: white;
}

#myChart{

    margin-top: 60px;
}